snippet vm
	export const namespaced = true;

	export const initialState = () => ({
		${1}
	});

	export const state = initialState;

	export const actions = {
		${2}
	};

	export const mutations = {
		${3}
	};

	export const getters = {
		${0}
	};

